body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameplan {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cards {
    
}

button {
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 8px;
}

img {
    width: 320px;
    border-radius: 8px;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    /* position: absolute;
    /* top: 0;
    left: 0; 
    backface-visibility: hidden; */
}


/* 

#############
make mobile friendly 

@media screen {
    
} */